$primary-color: #4CAF50;
$secondary-color: #6c757d;
$font-stack: 'Segoe UI', sans-serif;
@use 'sass:color';

@mixin button-style($bg-color) {
  background-color: $bg-color;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust($bg-color, $lightness: -10%);

  }
}
