@use '../../../styles/variables' as *;

h2{
    margin-left: 550px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  margin: 0 auto;
  font-family: $font-stack;

  label {
    font-weight: bold;
    margin-bottom: 4px;
  }

  input,
  textarea {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  input[type='checkbox'] {
    width: auto;
    margin-right: 6px;
  }

  button {
    @include button-style($primary-color);
    width: fit-content;
    margin-top: 12px;
  }
}
